<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO3wWR5q7EuASCFcE_-LiZeOS58ZJx1ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>773156350653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sonasetiana.schedulequ</string>
	<key>PROJECT_ID</key>
	<string>jadwalqu-2e770</string>
	<key>STORAGE_BUCKET</key>
	<string>jadwalqu-2e770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773156350653:ios:2ecd2ca346ba4b4499a5d4</string>
</dict>
</plist>